/* Fonts */
.myname {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'Times New Roman', serif;
    font-size: 45px;
}

p {
    font-family: lucida, cursive;
}
.post-date {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.title-link {
    font-family: 'Times New Roman', Times, serif;
}
.desc {
    font-family: lucida, cursive;
}

/* Default */

html {
    scroll-behavior: smooth;
  }
.title-category {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .title-category span { 
     background:#fff; 
     padding:0 10px; 
 }

/* Navbar */

.banner {
    position: relative;
    background: url(images/background.jpg);
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner-description {
    color: white;
    position: relative;
    margin-left: 10%;
}
/* About */

.hero-content {
    margin-top: 5%;
}

.img-fluid {
    border-radius: 53% 47% 63% 37% / 43% 79% 21% 57% ;
}

/* Portfolio */
#article-feed .title-link {
    font-size: 18px;
}
#article-feed .art-row-1 .title-link {
    color: black;
    font-size: 22px;
}
#article-feed .art-row-1 .desc {
    font-size: 16px;
}

.ratio-main {
    padding-top: calc(2 / 3 * 75%); 
    background-size: cover;
    background-position: center;
  }
  /* Contact */
  
  .social-icon {
      width: 50%;

  }
  #mail-box .mail-icon {
      margin-left: 25%;
  }
